.products__main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  left: 5%;
}

.products__main .products__main--item .badge {
  position: absolute;
  top: 0;
  margin-left: auto;
  height: 28px;
  display: flex;
  align-items: center;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}

.products__main .products__main--item {
  cursor: pointer;
  width: 270px;
  /* Set a fixed width for each product item */
  height: 340px;
  padding: 0;
  box-shadow: 0 1px 2px 0 rgba(48, 50, 53, 0.1), 0 2px 6px 2px rgba(18, 20, 21, 0.15);
  border-radius: 15px;
  margin-bottom: 35px;
  /* Add margin at the bottom to space out rows */
}

.products__main .products__main--item .image__product--main {
  position: absolute;
  left: 20px;
  width: 230px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  top: 30px;
}

.products__main .titleVPrice {
  position: relative;
  top: 245px;
  left: 15px;
}

.products__main .titleVPrice .title-badge {
  font-size: 16px;
  font-weight: 500;
}

.products__main .titleVPrice .price-badge {
  margin-top: 8px;
}

.products__main .titleVPrice .priceDiscount-badge {
  color: red;
}

.products__main .products__main--item .priceOriginal-badge {
  position: absolute;
  left: 160px;
  text-decoration: line-through;
  color: #707070;
}

@media (max-width: 576px) {
  .products__main {
    position: relative;
    left: 2%;
  }
}

@media (max-width: 320px) {
  .products__main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 2%;
    gap: 10px;
  }

  .products__main .products__main--item {
    width: 137px;
    height: 227px;
    margin: 0 auto 15px;
  }

  .products__main .products__main--item .image__product--main {
    width: 127px;
    height: 110px;
    left: 5px;
  }

  .products__main .titleVPrice {
    top: 145px;
    left: 5px;
    width: 130px;
  }

  .products__main .titleVPrice .title-badge {
    font-size: 12px;
  }

  .products__main .titleVPrice .price-badge,
  .products__main .titleVPrice .priceDiscount-badge {
    font-size: 12px;
  }

  .products__main .products__main--item .priceOriginal-badge {
    left: auto;
    right: 5px;
    font-size: 11px;
  }
}