.client-container {
  position: fixed;
  top: 0;
  z-index: 9999;
}

.client-container.light {
  background-color: white;
  /* Màu nền cho chế độ sáng */
  min-height: 100vh;
  color: black;
  /* Màu chữ cho chế độ sáng */
}

.client-container.dark {
  background-color: #001529;
  min-height: 100vh;
  color: white;
}

.client-container.dark label {
  color: white;
}

.content-outlet-client {
  padding-top: 10px;
  margin-left: 100px;
  overflow-y: auto;
  height: calc(100vh - 10px);
}