.admin-container.light {
  background-color: white;
  /* Màu nền cho chế độ sáng */
  color: black;
  /* Màu chữ cho chế độ sáng */
}

.admin-container.dark {
  background-color: #001529;
  /* Màu nền cho chế độ tối */
  color: white;
  /* Màu chữ cho chế độ tối */
}