.product__content {
  position: relative;
  top: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(48, 50, 53, 0.1), 0 2px 6px 2px rgba(18, 20, 21, 0.2);
  width: 1200px;
  height: 400px;
  /* border: 1px black solid; */
  left: 110px;
}

.product__content--image {
  position: absolute;
  left: 100px;
  box-shadow: 0 1px 2px 0 rgba(48, 50, 53, 0.1), 0 2px 6px 2px rgba(18, 20, 21, 0.15);
  width: 280px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.product__content--image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product__content--price {
  text-align: center;
  position: absolute;
  left: 700px;
  top: 60px;
}

.product__content--price .product__content--name {
  font-size: 28px;
  color: red;
}

.product__content--price span {
  font-size: 19px;
  color: #4A4A4A;
  font-weight: bold;
}

.orderProduct {
  position: absolute;
  top: 150px;
}

.orderProduct .inner-wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.orderProduct--pay {
  width: 400px;
  height: 70px;
  background: #cb1e21;
  border-radius: 15px;
}

.orderProduct h2 {
  font-size: 20px;
  color: #fff;
}

.orderProduct p {
  color: #fff;
  font-size: 16px;
  margin-top: -10px;
}