.product__content {
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(48, 50, 53, 0.1), 0 2px 6px 2px rgba(18, 20, 21, 0.2);
  width: 1200px;
  height: 400px;
  /* border: 1px black solid; */
  left: 110px;
}

.product__content--image {
  position: absolute;
  left: 100px;
  box-shadow: 0 1px 2px 0 rgba(48, 50, 53, 0.1), 0 2px 6px 2px rgba(18, 20, 21, 0.15);
  width: 280px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.product__content--image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product__content--price {
  text-align: center;
  position: absolute;
  left: 700px;
  top: 60px;
}

.product__content--price .product__content--name {
  font-size: 28px;
  color: red;
}


.orderProduct {
  position: absolute;
  top: 150px;
}

.orderProduct .inner-wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.orderProduct .orderNow-button {
  font-size: 14px;
  border-radius: 15px;
  color: white !important;
  font-weight: 700;
  background-color: orangered;
}

.orderProduct h2 {
  font-size: 20px;
  color: #fff;
}

.orderProduct p {
  color: #fff;
  font-size: 16px;
  margin-top: -10px;
}

.order-form {
  display: flex;
  align-items: stretch;
  border: 2px solid #d2c3f1;
  border-radius: 20px;
  overflow: hidden;
  width: fit-content;
}

.phone-input {
  width: 150px;
  height: 28px;
  border: none;
  background-color: #eef2ff;
  font-weight: bold;
  color: #333;
  font-size: 16px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.order-button {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff !important;
}