.register-box-client {
  position: relative;
  text-align: center;
  top: 10vh;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
}

.register-box-client h3 {
  text-align: center;
}

.register-box-client input {
  width: 350px;
}

.register-box-client input[type="text"],
.register-box-client input[type="password"],
.register-box-client input[type="email"] {
  height: 46px;
  width: 350px;
  border-radius: 46px;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: black 1px solid;
}

.form-register {
  align-items: center;
  flex-direction: column;
}

.register-box-client .btn-registerClient {
  width: 120px;
  padding: 12px 15px;
  border: none;
  border-radius: 45px;
  font-size: 18px;
  color: #fff;
  font-weight: 480;
  cursor: pointer;
  background: linear-gradient(135deg, #09b8f3, #140691);
}

.register-box-client .btn-registerClient:hover {
  background: linear-gradient(135deg, #217f9f, #6453f8);
}