/* sidebar.css */

.menu-container {
  display: flex;
  position: relative;
  left: 70px;
  width: 100vw;
  z-index: 1;
}

.btnDarkLight {
  margin-bottom: 16px;
  /* Space between switch and menu */
}

.ant-menu-horizontal {
  display: flex;
  justify-content: space-around;
  /* Space out menu items evenly */
  flex-wrap: nowrap;
  /* Prevent wrapping to a new line */
  overflow: hidden;
  z-index: 1;
  /* Hide overflow */
}

.ant-menu-item {
  /* margin-right: 100px; */
}

.textMenu {
  font-size: 16px;
  /* Adjust font size as needed */
  white-space: nowrap;
  /* Prevent text from wrapping */
}

.menu-container .textMenu.active {
  color: #1890ff;
  /* Color for the active menu item */
}

/* Optional: add some padding for better appearance */
.menu-container .ant-menu-item {
  margin-right: 100px;
  /* Add horizontal padding */
}

.menu-container .ant-menu-item {}


.menu-container .btnDarkLightClient {
  width: 65px;
  position: absolute;
  right: 270px;
  top: 25px;
}

.menu-container .btn-loginClient {
  position: absolute;
  right: 130px;
  top: 20px;
}

.menu-container.light .textMenu {
  color: black;
  /* Màu chữ cho chế độ sáng */
}

.menu-container.dark .textMenu {
  color: white;
  /* Màu chữ cho chế độ sáng */
}

.menu-container .btn-loginClient {
  color: white !important;
  font-weight: 500;
  background-color: orangered;
  padding: 0 20px;
  border-radius: 45px;
  border: none;
  /* Màu chữ cho chế độ sáng */
}

.menu-container .btn-loginClient:hover {
  background-color: rgb(238, 138, 102) !important;
}