.menu-container {
  display: flex;
  position: relative;
  left: 70px;
  width: 100vw;
  z-index: 1;
}

.menu-container .btnDarkLight {
  margin-bottom: 16px;
  /* Space between switch and menu */
}

.menu-container .ant-menu-submenu .ant-menu-submenu-horizontal {
  width: 152px;
  /* Kích thước chữ cho mục cha */
  color: #000;
  /* Màu cho mục cha */
}

.menu-container .menuClient {
  width: 700px;
}

.menu-container .ant-menu {
  height: auto;
  /* Thiết lập chiều cao cho menu */
}


.menu-container .ant-menu-submenu {
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  color: black;
  /* Màu cho mục con */
}

.menu-container .ant-menu-submenu-title {
  padding: 10px 30px;
}

.menu-container .ant-menu-submenu-title:hover {
  background-color: aquamarine !important;
}


.menu-container .ant-menu-submenu a {
  color: black;
  text-decoration: none;
}


.menu-container .ant-menu-horizontal {
  display: flex;
  justify-content: space-around;
  /* Space out menu items evenly */
  flex-wrap: nowrap;
  /* Prevent wrapping to a new line */
  overflow: hidden;
  z-index: 1;
  /* Hide overflow */
}

.menu-container .ant-menu {
  /* Đảm bảo menu sử dụng flex */
  align-items: center;
  /* Căn giữa các item theo chiều dọc */
}

.menu-container .ant-menu-item {
  font-size: 24px;
}

.menu-container .textMenu {
  font-size: 16px;
  /* Adjust font size as needed */
  white-space: nowrap;
  /* Prevent text from wrapping */
}

.menu-container .textParent {
  font-size: 16px;
  font-weight: 500;
}

.menu-container .textMenu {
  font-size: 16px;
  color: #000;
  /* Màu chữ */
  padding: 10px;
  /* Khoảng cách bên trong */
  transition: color 0.3s;
  /* Hiệu ứng chuyển màu */
}

.menu-container .textMenu:hover {
  color: #1890ff;
  /* Màu hover cho các mục menu */
}

.menu-container .textMenu.active {
  color: #ff4d4f;
  /* Màu cho mục đang hoạt động */
}

.menu-container .textMenu.active {
  color: #1890ff;
  /* Color for the active menu item */
}

/* Optional: add some padding for better appearance */
.menu-container .ant-menu-item {
  margin-right: 100px;
  /* Add horizontal padding */
}

.menu-container .btnDarkLightClient {
  width: 65px;
  position: absolute;
  right: 270px;
  top: 25px;
}

.menu-container .btn-loginClient {
  position: absolute;
  right: 130px;
  top: 20px;
}

.menu-container.light .textMenu {
  color: black;
  /* Màu chữ cho chế độ sáng */
}

.menu-container.dark .textMenu {
  color: white;
  /* Màu chữ cho chế độ sáng */
}

.menu-container .btn-loginClient {
  color: white !important;
  font-weight: 500;
  background-color: orangered;
  padding: 0 20px;
  border-radius: 45px;
  border: none;
  /* Màu chữ cho chế độ sáng */
}

.menu-container .btn-loginClient:hover {
  background-color: rgb(238, 138, 102) !important;
}