.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: #fff;
}

.header-top {
  position: relative;
  height: 85px;
  width: 100vw;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  left: 100px;
  top: 5px;
}

/* Menu Container Styles */
.menu-container {
  position: relative;
  width: 100vw;
  height: 50px !important;
  left: 70px;
}

.menu-container .btnDarkLight {
  margin-bottom: 16px;
}

.menu-container .menuClient {
  width: 700px;
  height: 40px !important;
}

.menu-container .ant-menu {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  flex-wrap: nowrap;
}

/* Menu Items Styles */
.menu-container .ant-menu-item {
  font-size: 24px;
  margin-right: 100px;
  /* Add horizontal padding */
}

.menu-container .textMenu {
  font-size: 16px;
  color: #000;
  padding: 10px;
  white-space: nowrap;
  transition: color 0.3s;
}

.menu-container .textMenu:hover {
  color: #1890ff;
  /* Màu hover */
}

.menu-container .textMenu.active {
  color: #ff4d4f;
  /* Màu khi active */
}

/* Parent Menu Styles */
.menu-container .ant-menu-submenu-title {
  padding: 10px 30px;
}

.menu-container .ant-menu-submenu-title:hover {
  background-color: aquamarine !important;
}

.menu-container .textParent {
  font-size: 16px;
  font-weight: 500;
}

/* Dark/Light Theme Styles */
.menu-container.light .textMenu {
  color: black;
}

.menu-container.dark .textMenu {
  color: white;
}

/* Switch Button Styles */
.menu-container .btnDarkLightClient {
  width: 65px;
  position: absolute;
  right: 270px;
  top: 25px;
}

/* Login Button Styles */
.menu-container .btn-loginClient {
  position: absolute;
  right: 130px;
  top: 20px;
  color: white !important;
  font-weight: 500;
  background-color: orangered;
  padding: 0 20px;
  border-radius: 45px;
  border: none;
}

.menu-container .btn-loginClient:hover {
  background-color: rgb(238, 138, 102) !important;
}