@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Merriweather', serif;
}
img{
  transition: transform 0.6s ease, box-shadow 0.6s ease; /* Tăng thời gian lên 0.6s */

}
img:hover{
  transform: scale(1.1); /* Phóng to 10% */
  box-shadow: 0 8px 15px rgba(44, 175, 218, 0.5); /* Đổ bóng */
}