.login-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.login-box-client {
  z-index: 1;
  position: relative;
  top: 25vh;
  text-align: center;
}

/* Header of the form */
.login-box-client h3 {
  font-size: bold;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Input field styling */
.login-box-client input[type="text"],
.login-box-client input[type="password"] {
  height: 46px;
  width: 350px;
  border-radius: 46px;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: black 1px solid;
}

.login-box-client input::placeholder {
  opacity: 1;
  /* Ensure it's fully opaque */
}

/* Input focus state */

/*  styling */
.login-box-client .btn-loginClient {
  width: 120px;
  padding: 12px 15px;
  border: none;
  border-radius: 45px;
  font-size: 18px;
  color: #fff;
  font-weight: 480;
  cursor: pointer;
  background: linear-gradient(135deg, #09b8f3, #140691);
}

/* Button hover effect */
.login-box-client .btn-loginAdmin:hover {
  background: linear-gradient(135deg, #217f9f, #6453f8);
}

/* Error message styling */
.login-box-client p {
  color: red;
  margin-top: 15px;
}

.text-register {
  color: red;
  cursor: pointer;
  font-weight: bold;
}